.about-container {
    padding: 20px;
    /* Otros estilos que tengas para el contenedor */
}

.line-separator {
    width: 100%;
    height: 1px;
    background-color: #a6a6a6; /* Color de la línea */
    margin-top: 20px; /* Espacio superior, ajústalo según necesites */
}
