.main-content {
    display: flex;
    justify-content: center;
    padding:30px;
}

.about-container {
    max-width: 1200px;
    width: 100%;
}

.text-and-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -20px;
}

.text-container {
    flex: 1;
    padding: 0; /* Reduce el padding a los lados izquierdo y derecho */
    margin-left:-20px; /* Ajustar margen derecho para separar del borde de la imagen */
}

.text-container h1,
.text-container h2,
.text-container p {
    margin-bottom: 20px; /*espacio entre los textos */
}
.text-container h1,h2{
    color:#126606;
}
.text-container p{
    font-size: 20px;
}
.text-container p + p {
    margin-top: 20px; /* Añade espacio entre párrafos consecutivos */
}

.vertical-line {
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
}

.images-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* Distribuye uniformemente las imágenes */
}

.images-container img {
    max-width: 100%;
    margin-bottom: 20px; /* Añade espacio debajo de cada imagen */
}

.card-emiliano,
.card-fabricio,
.card-anabel {
    width: 100%; /* Ajusta el ancho de las imágenes al contenedor */
    max-width: 300px; /* Ancho máximo de las imágenes */
}
