.container-barra-category-products {
  padding-top: 20px;
  border-color: #691ad9 solid 1px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container-barra-category-products a {
  text-decoration: none;
  color: #060606;
  /* Color del texto normal */
  margin-right: 20px;
  /* Espaciado entre elementos */
  transition: color 0.3s ease;
  /* Transición suave de color */

  font-size: 20px;
  background-color: #3bc368;
  border-radius: 10px;
  padding: 3px 3px;
  margin-bottom: 15px
}

.container-barra-category-products a:hover {
  color: white;
}