.container-card-description-product {
  
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.container-card-description-product h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.container-img-price {
  display: flex;
}

.container-img {
  margin-right:100px;
  width: 40%;/**/
}

.container-img img {
  width: 55%; /**/
  height: auto;
  display: flex;
 padding: 30px 30px;
  
}

.container-precio {
  font-size: 18px;
  margin-bottom: 10px;
}

.container-button {
  margin-bottom: 10px;
}

.container-quantity-product {
  display: flex;
  align-items: center;
}

.container-quantity-product button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.container-quantity-product p {
  margin: 0 10px;
}

.container-quantity-product button:hover {
  background-color: #0056b3;
}

.container-card-description-product div:last-child {
  margin-top: 20px;
}

.container-card-description-product span {
  display: block;
  margin-bottom: 5px;
}

.container-card-description-product p {
  margin-bottom: 10px;
}
/* Estilos generales para el contenedor */
.container-span {
  display: flex; /* Usar flexbox para alinear elementos */
  flex-direction: column; /* Organizar elementos uno debajo del otro */
  gap: 10px; /* Espacio entre elementos */
  margin: 10px 0; /* Margen superior e inferior */
}

/* Estilos para los spans */
.container-span > span {
  display: flex; /* Usar flexbox para alinear texto e icono */
  align-items: center; /* Alinear verticalmente el contenido */
  color: black; /* Color de texto negro */
}

/* Estilos para los íconos */
.container-span > span > svg {
  margin-left: 8px; /* Margen izquierdo para separar íconos del texto */
  color: black; /* Color negro para los íconos */
}
