.container-card {
    width: 100%;
    margin: 20px;
    border-color: black;
    border: solid;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    box-shadow: opx 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
   
}

.container-card:hover{
    box-shadow: 5px 5px 20px rgba(0,0, 0,4);
    transform: translateY(-3%);
}
.container-card img{
    width: 100px;
    height:100px;
}
.container-card p{
    line-height: 1.5;
    color: #6a6a6a;
    background-color: #238491;
}
.container-card h3{
    font-weight: 400;
    margin-bottom: 15px;
}

.container-card {
    width: calc(25% - 10px); /* Ancho máximo para cada tarjeta (contenedor negro)*/
    margin-bottom: 10px; /* Espacio entre filas */
}