.container-card {
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
    background: #fff;
    box-shadow: opx 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    height: 300px;
   
}

.container-card:hover{
    box-shadow: 5px 5px 20px rgba(0,0, 0,4);
    transform: translateY(-3%);
}
.container-card img{
    width: 100px;
    height:100px;
    padding-top: 5px;
}
.container-card p{
  text-align: center;
  text-decoration: none;
 border-color: #126606;
  border-style: solid ;
}
.container-card h3{
    font-weight: 400;
    margin-bottom: 10px;
}

/* .container-card {
    width: calc(25% - 10px); 
    margin-bottom: 10px;
} */