.container-cards-category {
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  align-items: center; 

}

.whith-category {
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.cards-container-category {
 
  padding: 0px 20px 0px 0px;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Seis columnas para las tarjetas */
  gap: 20px; /* Espacio entre las tarjetas */
  background-color: #e9ecef;

  border-radius: 8px;
}

.container-card-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 300px; /* Ajusta la altura según tus necesidades */
  margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.card {
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
}
