.contact-general {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
}

.contact-icons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

.telefono {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imgContact {
    width: 250px;
    height: auto;
    margin: 0 1rem;
    border-radius: 10px;
}

.container-form {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    margin-right: 40px;
    
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.label-contact {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 20px;
}

.input-contact, .textarea-contact {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

.input-contact:focus, .textarea-contact:focus {
    border-color: #126606;
    outline: none;
}

.textarea-contact {
    resize: vertical;
}

.btn-enviar-contacto {
    width: 100%;
    padding: 10px;
    background-color: #126606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-enviar-contacto:hover {
    background-color: #218838;
}

/* Estilos para el Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
