/* Contenido del footer */
.footer-content {
  padding: 20px;
  border-top: #080808 solid 1px;
 background-color: #a6a6a6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
}

.social-icons svg {
  color: black; /* Color negro para los íconos */
  margin-right: 10px;
  font-size: 24px; /* Tamaño uniforme de los íconos */
  width: 24px; /* Asegurar ancho uniforme */
  height: 24px; /* Asegurar altura uniforme */
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-info svg {
  color: black; /* Color negro para los íconos */
  margin-right: 5px;
  font-size: 24px; /* Tamaño uniforme del icono de correo */
}

.contact-info p {
  margin: 0;
  color: #333; /* Color del texto */
  font-size: 18px;
}

.location-info {
  display: flex;
  align-items: center;
}

.location-info svg {
  color: black; /* Color negro para los íconos */
  margin-right: 5px;
  font-size: 24px; /* Tamaño uniforme del icono de ubicación */
}

.location-info p {
  margin: 0;
  color: #333; /* Color del texto */
  font-size: 18px;
}
