  .title-category {
    display: inline-block;
    margin-bottom: 20px; /* Espacio entre el título y las tarjetas */
  }
  
.container-card-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .container-card-category .card {
    width: calc(25% - 10px); /* Ancho del 25% del contenedor con un espacio de 10px entre cada tarjeta */
    margin-bottom: 20px; /* Espacio entre las filas de tarjetas */
  }
  
