.container-cards{
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.whith {
  background-color: white;
  padding: 5px;
  border-radius: 8px;
  width: 90%;
  margin: 10px auto;
  box-shadow: o 4px 12 px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.cards-container{
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Seis columnas para las tarjetas */
  grid-column: span 5; /* Ocupar siete columnas */
  gap: 20px; /* Espacio entre las tarjetas */
  background-color: #e9ecef;
  padding: 0px 20px 0px 0px;
  border-radius: 8px;
}
.container-card-cat{
height: 300px;
}



/* Segundo carrusel */
.container-carousel-second {
  grid-column: span 5; /* Ocupa las seis columnas de las tarjetas */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%; /* Ancho del segundo carrusel */
  height: 180px; /* Altura reducida del carrusel */
  background-color: white;
  padding: 20px 10px;
  margin-left: 10px;
 
}

/* Tercer carrusel */
.container-carousel-ter {
  grid-column: span 5; /* Ocupa las seis columnas de las tarjetas */
  width: 98%; /* Ancho del segundo carrusel */
  height: 80px; /* Altura reducida del carrusel */
  background-color: white;
  padding: 20px 10px;
  margin-left: 10px;
}

.container-carousel-ter img {
  margin-left: 50px;
  margin-right: 20px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.carousel-slide {
  min-width: calc(100% / 4); /* Cuatro imágenes a la vez */
}

.container-carousel-second .carousel-slide img {
  width: 100%;
  height: 100%; /* Ajusta el valor de altura según tus necesidades */
  object-fit: contain; /* Ajustar la imagen dentro del contenedor */
}

.leftArrow, .rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  padding: 0.5rem;
}

.leftArrow {
  left: 10px;
}

.rightArrow {
  right: 10px;
}

@media (max-width: 1200px){
  .cards-container {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-column: span 6;
  gap: 20px;
  background-color: #e9ecef;
  padding: 0px 20px 0px 0px;
  border-radius: 8px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}
}