
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.container-form-login {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    margin: 1rem;
}

.form-login {
    display: flex;
    flex-direction: column;
    
}

.label-login {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 20px;
}

.input-login {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-login:focus {
    border-color: #126606;
    outline: none;
}

.button-iniciar {
    width: 100%;
    padding: 10px;
    background-color: #126606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-iniciar:hover {
    background-color: #218838;
}

#notificacion {
    margin-top: 1rem;
    font-size: 0.875rem;
    text-align: center;
}

/* Estilos para el Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: white;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
