
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.error-message {
    color: red;
    margin-top: 10px;
}




.btn-registrarme {
    background-color: #28a745;
}


