.container-form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:60vh; /* Ajustar la altura del contenedor principal */
    padding:30px;
}

.form {
    width: 100%; /* Mantiene el formulario al 100% del contenedor */
    max-width: 300px; /* Ancho máximo del formulario */
    padding: 20px;
    border: 20px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del formulario */
    min-height: 300px; /* Altura mínima del formulario */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%; /* Para que las etiquetas ocupen todo el ancho del formulario */
    text-align: left; /* Alinea el texto de las etiquetas a la izquierda */
}

input {
    width: 100%; /* Ocupa todo el ancho del formulario */
    max-width: 250px; /* Ancho máximo de los inputs */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center; /* Centra el texto de error */
}



.button-iniciar:hover{
    background-color: #218838;
}