.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a6a6a6; /* Fondo gris claro */
  padding: 5px 50px; /* Reducido el padding para disminuir la altura */
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  height: 50px; /* Ajusta este valor según sea necesario */
  margin-top: 20px;
}

.container-barra-search {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 2px 5px; /* Reducido el padding */
  padding-top: 50px;
  flex: 1;
  margin: 0 10px; /* Reducido el margen */
  height: 30px; /* Ajusta este valor según sea necesario */
}

.input-search {
  border: none;
  outline: none;
  flex: 1;
  padding: 2px; /* Reducido el padding */
  font-size: 16px; /* Reducido el tamaño de fuente */
  height: 100%; /* Asegura que el input ocupe toda la altura */
  border-radius: 4px;
}

.search-icon {
  color: #888;
  font-size: 18px; /* Reducido el tamaño de la fuente */
}

.container-list {
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 10px; /* Reducido el espacio entre elementos */
  padding: 0;
  margin: 0;
}

.navList a {
  text-decoration: none;
  color: #333;
}

.navList a li {
  cursor: pointer;
  transition: color 0.3s;
 padding-left: 5px;
 padding-right: 5px;
  height: 100%; /* Asegura que los elementos de la lista ocupen toda la altura */
  display: flex;
  align-items: center; /* Centra verticalmente el texto */
  border-radius: 5px;
  font-size: 20px;  
 
 }

.navList a li:hover {
  color: white;
  box-shadow: 5px 5px 20px rgba(0,0, 0,4);
  transform: translateY(-3%);
}

.navList a li .FaShoppingCart {
  margin-right: 5px;
}

img.logo{
  width: 250px;
  height: 80px;
  padding-top: 30px;
}

@media (max-width: 768px) {
  .container-nav {
      flex-direction: column;
      height: auto; /* Permite que el contenedor se ajuste en pantallas más pequeñas */
  }

  .container-barra-search {
      margin: 10px 0;
  }

  .navList {
      flex-direction: column;
      gap: 10px;
  }
}
