/* Estilo base para el contenedor principal */
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a6a6a6; /* Fondo gris claro */
  padding: 5px 20px; /* Reducir el padding horizontal */
  padding-bottom: 10px; /* Reducir el padding inferior */
  margin-bottom: 10px; /* Reducir el margen inferior */
  border-bottom: 1px solid #ccc;
  height: 60px; /* Ajustar la altura */
}

/* Estilo para la barra de búsqueda */
.container-busqueda-barra  {
  display: flex;
  border-radius: 4px;
  padding: 2px 5px;
  flex: 1;
  margin: 0 10px;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.form-busqueda{
  display: flex;
  width: 70%;
}
.input-search {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px; /* Aumentar el padding para mayor espacio */
  font-size: 14px; /* Reducir el tamaño de fuente */
  height: 100%; /* Asegurar que el input ocupe toda la altura */
  border-radius: 4px;
}

.btn-buscar {
cursor: pointer;
  color: white;
  background-color: transparent;
  border: transparent;
}

.icon-buscar{
  color: white;
  font-size: 25px;
}

.icon-buscar:hover{
  color: #126606;
}

/* Estilo para la lista de navegación */
.container-list {
  padding-top: 10px; /* Reducir el padding superior */
  display: flex;
  align-items: center;
}

.navList {
  list-style: none;
  display: flex;
  gap: 10px; /* Reducir el espacio entre elementos */
  padding: 0;
  margin: 0;
}

.navList a {
  text-decoration: none;
  color: #333;
}

.navList a li {
  cursor: pointer;
  transition: color 0.3s;
  padding: 5px 10px; /* Ajustar el padding */
  height: 100%; /* Asegurar que los elementos de la lista ocupen toda la altura */
  display: flex;
  align-items: center; /* Centrar verticalmente el texto */
  border-radius: 5px;
  font-size: 16px; /* Reducir el tamaño de fuente */
}

.navList a li:hover {
  color: white;
  background-color: #126603; /* Cambiar el color de fondo al hacer hover */
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.navList a li .FaShoppingCart {
  margin-right: 5px;
}

img.logo {
  width: 200px; /* Reducir el ancho del logo */
  height: auto; /* Mantener la proporción */
  padding-top: 10px; /* Reducir el padding superior del logo */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .container-nav {
    flex-direction: column; /* Cambiar a dirección de columna */
    height: auto; /* Altura automática */
    padding: 10px; /* Aumentar el padding */
  }

  .container-barra-search {
    margin: 10px 0; /* Reducir el margen */
  }

  .input-search {
    font-size: 14px; /* Reducir el tamaño de fuente */
  }

  .navList {
    justify-content: center; /* Centrar los elementos */
    margin-top: 10px; /* Aumentar el margen superior */
  }

  .navList a li {
    font-size: 14px; /* Reducir el tamaño de fuente */
  }

  img.logo {
    width: 150px; /* Reducir el tamaño del logo */
    padding-top: 10px; /* Reducir el padding superior del logo */
  }
}

/* Media queries para pantallas aún más pequeñas */
@media (max-width: 480px) {
  .container-nav {
    padding: 5px; /* Reducir el padding */
  }

  .input-search {
    padding: 3px; /* Reducir el padding del input */
    font-size: 12px; /* Reducir el tamaño de fuente */
  }

  .navList a li {
    padding: 3px 6px; /* Ajustar el padding */
    font-size: 12px; /* Reducir el tamaño de fuente */
  }

  img.logo {
    width: 120px; /* Reducir aún más el tamaño del logo */
  }
}
