/* Estilo para el contenedor principal */
.not-found-container {
    display: flex;
 
    width: 100%;
    align-items: center; /* Centra verticalmente en la pantalla */
    justify-content: center; /* Centra horizontalmente en la pantalla */
    height: 100vh; /* Altura de la ventana completa */
    background-color: #f0f0f0;
    position: relative;
}

/* Estilo para la imagen */
.not-found-image {
   max-height: 150vh;
    width: 100%;
    

}

/* Estilo para el título */
.not-found-title {
  text-align: center;

}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
    .not-found-title {
        font-size: 2rem; /* Reduce el tamaño del título en dispositivos móviles */
        padding: 8px 16px; /* Ajusta el padding del título */
    }
}

/* Media query para pantallas muy pequeñas */
@media (max-width: 480px) {
    .not-found-title {
        font-size: 1.5rem; /* Reduce aún más el tamaño del título en dispositivos pequeños */
    }
}
