.container-perfil {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 20px;
}

/* Estilos para las pestañas */
.react-tabs__tab-list {
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  display: flex;
  border-bottom: 1px solid #ddd;
  overflow-x: auto; /* Para manejar pestañas que no caben en la pantalla */
}

.react-tabs__tab {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f8f9fa; /* Color de fondo de las pestañas */
  border: 1px solid #ddd;
  border-bottom: none;
  margin-right: 5px;
  transition: background-color 0.3s;
  white-space: nowrap; /* Evita que las pestañas se envuelvan en múltiples líneas */
}

.react-tabs__tab:hover {
  background-color: #e9ecef; /* Color de fondo al pasar el mouse */
}

.react-tabs__tab--selected {
  background-color: #fff;
  border-bottom: 2px solid #007bff;
  color: #126606;
  font-weight: bold;
}

.user-profile,
.purchase-history {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile h2,
.user-profile p,
.purchase-history h3 {
  margin-bottom: 10px;
  text-align: center;
}


.form {
  width: 100%;
}

.form label {
  display: block;
  margin: 10px 0 5px;
}
.form-perfil{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}
.input-perfil {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
}

.input-perfil:focus {
  border-color: #126606;
  outline: none;
}

.btn-guardar-perfil{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #126606;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 100%;
}
.btn-mostrar,
.btn-delete-perfil {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #126606;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  width: 50%;
}
.btn-mostrar:hover,
.btn-guardar-perfil:hover {
  background-color: #218838;
}

.btn-delete-perfil {
  background-color: #dc3545;
}

.btn-delete-perfil:hover {
  background-color: #c82333;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.table th {
  background-color: #f4f4f4;
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.puserchase {
  width: 100%;
  overflow-x: auto;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .react-tabs__tab {
    padding: 10px; /* Reducir el padding horizontal de las pestañas */
    font-size: 14px; /* Ajustar el tamaño de la fuente de las pestañas */
  }

  .user-profile button,
  .purchase-history button {
    padding: 8px 12px; /* Reducir el padding de los botones */
    font-size: 12px; /* Ajustar el tamaño de la fuente de los botones */
  }
}
