.container-cards{
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .whith{
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    width: 80%;
    margin: 20px auto;
    box-shadow: o 4px 12 px rgba(0,0,0,0.1);
    flex-grow: 1;
  }
  .cards-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Seis columnas para las tarjetas */
    grid-column: span 5; /* Ocupar siete columnas */
    gap: 20px; /* Espacio entre las tarjetas */
    background-color: #e9ecef;
    padding: 0px 20px 0px 0px;
    border-radius: 8px;
    padding-bottom: 20px;
  }
  .container-card-cat{
  height: 300px;
  }
  
  
  /* @media (max-width: 1200px){
    .cards-container {
    display: flex;
    grid-template-columns: repeat(6, 1fr);
    grid-column: span 6;
    gap: 20px;
    background-color: #e9ecef;
    padding: 0px 20px 0px 0px;
    border-radius: 8px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
  }
  } */